/* Dark green - #173E43
Yellow - #FAE596
Teal - #3FB0AC
Taupe - #DDDFD4 */

.App {
  background-color: #173e43;
  text-align: center;
}

.container {
  width: 25%;
  padding: 10px;
  margin: 0 auto;
  background-color: #DDDFD4;
}

.roster {
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

li {
  text-align: center;
  margin: 10px;
}

button{
  background-color:#3FB0AC;
  margin: 5px;
}
