/* Dark green - #173E43
Yellow - #FAE596
Teal - #3FB0AC
Taupe - #DDDFD4 */

.App {
  background-color: #173e43;
  text-align: center;
}

.container {
  width: 20%;
  padding: 10px;
  margin: 0 auto;
  background-color: #dddfd4;
  border-radius: 5px;
}

.roster {
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

li {
  text-align: center;
  margin: 10px;
}

button {
  background-color: #3fb0ac;
  margin: 5px;
  font-size: .8em;
  font-weight: normal;
}

form {
  width: 50%;
  margin: 0 auto;
}

input[type="text"],
select {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: .8em;
  display: block;
  float: left;
}

